@import'./base/vars';
@import './base/maps';
@import './base/extend';
@import'./base/mixin';
@import'./componentes/header';
@import'./componentes/footer';
@import'./base/media';
@import'./componentes/main';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
