html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color:rgb(170, 170, 170);

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
    color: lightsteelblue;
}
img{
    width: 80%;
    height: auto;
}
nav, .servicios, .presentacion{
    width: 80%;
    margin: auto;
}
.titulos-servicios, .presentacion{
    margin-bottom: 10%;
}