$font-p:1.8rem;
$font-h1:3.0rem;
$font-h2:2.4rem;
$font-h3:2.0;

p{
    font-size: $font-p;
    color: rgb(8, 8, 8);

}
h2{
    font-size: $font-h2;
}
h3{
    font-size: $font-h3;
}
 
$color-body:plum;