body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
main{
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
}
.caja_img {
    margin: 1.5rem;
    background-color:#0a1a2a ;
    display: flex;
    border-radius:25px;
    height: 400px;
    width:  1200px;
}

.caja_img img{
    padding: 15px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
   
}

.caja_img p{
    color: #fff;
    margin-bottom: 10px;
    font-size: 25px;

}

.img_menu .caja_p{
    height: auto;
    width: auto;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 45px 24px;
}
main{
    height: 700px;
    width: auto;
    display: flex;
    justify-content: center;
}
.img_menu{
    width:auto;
    height: auto;
    background-color:#cecece;
    padding: 20px 20px ;
    margin-top: 35px;
    border-radius: 25px;
}

.galeria_1 .box_galeria{
    margin: 1rem;
    background-color:#0a1a2a ;
    display: flex;
    border-radius:25px;
    height: 450px;
    width:  300px;
}

.galeria_1{
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    width: auto;
    height: auto;
    background-color: #cecece;
    margin: 35px;
    border-radius: 25px;
}

.galeria_1 .box_galeria img{
    display: flex;
    align-items: center;
    border-radius: 25px;
    margin: 25px;
    
}

.musica_menu{
    margin: 1.5rem;
    background-color:#0a1a2a ;
    display: grid;
    grid-template-columns:repeat(1, 1fr) ;
    border-radius:25px;
    height: 650;
    width:  800px;
    gap: 20px;

} 
.main_musica{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    width: auto;
    height: auto;
    background-color: #cecece;
    margin: 35px;
    border-radius: 25px;

}

.formulario_menu{
    width: 400px;
    background-color: #0a1a2a;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    color: #fff;
    box-shadow: 7px 13px 37px #000;
}
.formulario_menu h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    padding:10px ;
    margin-bottom:16px ;
    background-color: #0a1a2a;
    border-radius: 5px;
    border: 1px solid #0a1a7a;
    color: #fff;

}

.formulario_menu a{
    color: #fff;
    text-decoration: none;
}
.formulario_menu a:hover{
    color: #fff;
    text-decoration: underline;
}

.formulario_menu .botons{
    width: 100%;
    padding: 12px;
    background-color: #0a1a7a;
    border: none;
    color: #fff;
    margin: 16px;
    font-size: 18px;
    cursor: pointer;
    transition: scale .2 ease;

}
.formulario_menu p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.formulario_menu .botons:hover{
    color: orange;
}